@model IEnumerable<Models.Coupon>

@{
    ViewData["Title"] = "Index";
}
@section Scripts {

    @if (@TempData["success"] != null)
    {
        <script>
            toastr.success('@TempData["success"]')
        </script>
    }
    @if (TempData["error"] != null)
    {
        <script>
            toastr.error('@TempData["error"]')
        </script>
    }
}
<div>
    <a asp-action="Create" asp-controller="Coupon" asp-area="Admin" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Create Coupon
    </a>
</div>

<div>
    <form asp-action="SearchForCourse" asp-controller="Coupon" asp-area="Admin" method="post">
        <div class="col-md-3 d-flex">
            <input type="Text" class="form-control" placeholder="Course Name" name="CourseName" />
            <button class="btn btn-primary m-1" type="submit"> Search </button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-gear"></i> Edit</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">  <i class="bi bi-trash"></i>  Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
